<input type="hidden" id="caption_upload_url" value="{{ caption_url }}">
<input type="hidden" id="delete_url" value="{{ delete_url }}">
<input type="hidden" id="caption_lang">
<input type="hidden" id="caption_label">
<input type="hidden" value="{{ video_id }}" id="video_id">
<input type="hidden" value="{{ video_lang }}" id="video_lang">
<input type="hidden" value="{{ preload }}" id="preload">
<input type="hidden" value="{{ video_width }}" id="video_width">
<input type="hidden" value="{{ video_height }}" id="video_height">
<input type="hidden" value="{{ use_caption_list }}" id="use_caption_list">
<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
    <ul class="list-input settings-list">

         <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="zplayer_edit_display_name">표시할 구성요소 이름</label>
                <input class="input setting-input" id="zplayer_edit_display_name" value="{{ display_name }}" type="text" placeholder="VIDEO">
            </div>
            <span class="tip setting-help">해당 동영상 콘텐츠 표시명을 입력합니다.</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="zplayer_edit_url">비디오 URL 경로</label>
                <input class="input setting-input" id="zplayer_edit_url" value="{{ source_url }}" type="text" placeholder="비디오 URL을 입력해 주세요.">
            </div>
            <span class="tip setting-help">Video URL입니다 비디오 파일의 URL을 링크시키세요.</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="zplayer_edit_poster">비디오 썸네일 URL 경로</label>
                <input class="input setting-input" id="zplayer_edit_poster" value="{{ video_poster }}" type="text" placeholder="비디오 썸네일 URL을 입력해 주세요.">
            </div>
            <span class="tip setting-help">Video URL입니다 비디오 파일의 URL을 링크시키세요.</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="zplayer_caption_submit">자막 파일 등록하기</label>

                <select class="input setting-input zplayer_edit_caption_lang" id="zplayer_edit_caption_lang">
                	<option value="" selected="true">언어셋 선택</option>
                    <option value="ko">한국어</option>
                    <option value="eng">영어</option>
                    <option value="ja">일본어</option>
                    <option value="zh-CN">중국어(북경어)</option>
                    <option value="zh-TW">중국어(광둥어)</option>
                    <option value="fr">프랑스어</option>
                    <option value="ru">러시아어</option>
                    <option value="de">독일어</option>
                    <option value="es">스페인어</option>
                    <option value="it">이탈리어</option>
                    <option value="ar">아랍어</option>
                    <option value="bg">불가리</option>
                    <option value="ca">카탈루냐</option>
                    <option value="hu">헝가리어</option>
                    <option value="nl">네덜란드어</option>
                    <option value="pt-BR">포루투칼</option>
                    <option value="tr">터키어</option>
                    <option value="uk">영어(영국식)</option>
                    <option value="vi">베트남</option>

                </select>



                <a class="button action-primary zplayer-button-submit" href="#caption_modal" id="zplayer_caption_submit" type="button">업로드</a>

            </div>
            <span class="tip setting-help">
                <ul id="caption_list">

                    {% if allow_caption_download != "" %}
                        {% for x in caption_info %}
                            <li>{{ x.label }} ({{ x.srclang }}) {{ x.src }}<button class="input setting-input caption-del" data-lang="{{x.srclang}}" data-path="{{ x.src }}" onclick="remote_caption_delete($(this))">자막삭제</button></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </span>

        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="zplayer_edit_allow_download">다운로드 여부</label>
                <select class="input setting-input" id="zplayer_edit_allow_download">
                    <option value="True" {% if allow_download %}selected{% endif %}>True</option>
                    <option value="False" {% if not allow_download %}selected{% endif %}>False</option>
                </select>
            </div>
            <span class="tip setting-help">비디오 다운로드 허용여부를 선택합니다.</span>


            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="zplayer_edit_allow_caption_download">자막 다운로드</label>
                <select class="input setting-input" id="zplayer_edit_allow_caption_download">
                    <option value="True" {% if allow_caption_download %}selected{% endif %}>True</option>
                    <option value="False" {% if not allow_caption_download %}selected{% endif %}>False</option>
                </select>
            </div>
            <span class="tip setting-help">자막파일 다운로드 허용여부를 선택합니다.</span>

        </li>

    </ul>

    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary action-save">저장</a>
            </li>
            <li class="action-item">
                <a href="#" class="button action-cancel">취소</a>
            </li>
        </ul>
    </div>

    <a href="#x" class="overlay" id="caption_modal"></a>
    <div class="popup" id="overlay">
        <div class="modal-dialog">
              <h2>자막등록</h2>
            <div class="modal-body">
                <input type="file" class="input setting-input" id="caption_modal_file" name="caption_modal_file">
                <hr>
                <span class="tip setting-help">자막파일은 .srt, .smi 파일을 지원합니다.</span>
            </div>
            <div class="modal-footer">

                <a href="#" class="button actions-primary" id="caption_upload">업로드</a>
                <a href="#close" class="button actions-primary" id="caption_cancel">취소</a>

            </div>
        </div>
    </div>
</div>