<div class="videojs_block">
    <input type="hidden" name="course_id" id="course_id" value="{{ course_id }}">
    <input type="hidden" name="org_id" id="org_id" value="{{ org_id }}">
    <input type="hidden" name="path" id="path">
    <input type="hidden" name="user_id" id="user_id">
    <input type="hidden" name="email" id="email">
    <input type="hidden" name="username" id="username">
    <input type="hidden" name="sessionid" id="sessionid">
    <input type="hidden" name="edxloggin" id="edxloggin">
    <style scoped>.vjs-menu-item{margin-bottom:0 !important}</style>
    <h2>{{ display_name }}</h2>
    <video class="zplayer" id="{{ video_id }}"></video>
    {% if allow_download or source_url != "" %}
    <ul>
        {% if allow_download %}
        <li class="video-download-button">
            <a href="{{ source_url }}" download>동영상 다운로드</a>
        </li>
        {% endif %}

    </ul>
    {% endif %}


    {% if allow_caption_download != "" %}
    <ul>
    {% if allow_caption_download %}
        {% for x in caption_info %}

    <li class="video-download-button">

        <a href="{{ x.src }}" download>{{ x.label }} ({{ x.srclang }})</a>
    </li>
        {% endfor %}
    {% endif %}

    </ul>
    {% endif %}
</div>
